@import '../../styles/variables.scss';

.runTable {
  width: 100%;
  min-width: 700px;
  font-variant: tabular-nums;
  margin: 2rem 0 5rem 0;

  thead {
    color: $light;
    text-align: right;

    th {
      padding: 0.5rem;
    }
  }
}

.runRow {
  td {
    padding: 0.5rem;
    border: 0;
    text-align: right;

    &:first-child {
      text-align: left;
    }
  }

  &:hover {
    background-color: lighten($dark, 3%);
  }
}

.tableContainer {
  width: 100%;
  overflow-x: scroll;
}

.monthContainer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px;
}

.monthLink {
  color: #fff
}

.statContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
}

.statContainer div {
  margin-right: 10px;
}

.runDate {
  color: $light;
}

